* {
    margin: 0;
    padding: 0;
}
body {
    transition: 1s;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
    font-family: 'Trebuchet MS', sans-serif;
}
.circles {
    width: 600px;
    border: 5px solid white;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    margin: 15px 15px 0;
    cursor: pointer;
    touch-action: manipulation;
}
.invisible {
    opacity: 0;
    animation: disappear 0.4s;
    pointer-events: none;
}
.timer {
    width: 600px;
    border: 5px solid white;
    height: 20px;
    padding: 5px 0;
    display: flex;
    margin-top: 20px;
}
.timer div {
    margin: 0 5px;
    background-color: white;
}
.gameStart {
    content: "play";
    margin-top: 40px;
    padding: 20px 50px;
    text-transform: uppercase;
    appearance: none;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.gameStart:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.restart {
    margin-top: 40px;
    padding: 20px 50px;
    text-transform: uppercase;
    appearance: none;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    content: "restart";
}
.restart:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.play {
    width: 610px;
    display: flex;
    justify-content: center;
}
.cardPopUp {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    height: 80dvh;
    width: 70vw;
    background-color: white;
    border-radius: 20px;
    margin: 50px;
}
.cardInfo {
    margin: 50px;
}
.card h1 {
    font-size: 3rem;
    margin-bottom: 5dvh;
    font-weight: 700;
}
.card .cardInfo p {
    font-size: 1.5rem;
    margin-bottom: 10dvh;
}
.card span {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card span p {
    padding-bottom: 10px;
}
.card span p:first-child {
    border-bottom: 3px solid blue;
}
.card span p:nth-child(2) {
    border-bottom: 3px solid green;
}
.card span p:nth-child(3) {
    border-bottom: 3px solid purple;
}
.card span p:last-child {
    border-bottom: 3px solid red;
}








@keyframes disappear {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    5% {
        transform: scale(1.2);
        opacity: 1;
    }
    98% {
        transform: scale(0.001);
        opacity: 1;
    }
    100% {
        transform: scale(0.001);
        opacity: 1;
    }
}



@media screen and (max-width: 750px) {

    .circles {
        width: 350px;
    }
    .circle {
        width: 100px;
        height: 100px;
        margin: 8px 8px 0;
    }
    .timer {
        width: 350px;
        height: 30px;
        padding: 5px 0;
    }
    .timer div {
        margin: 0 5px;
        background-color: white;
    }
    .play {
        width: 100%;
    }

}